[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gitsandbbox
[access "refs/for/refs/*"]
	read = group user/gitsandbbox
	push = group user/gitsandbbox
	label-Code-Review = -2..+2 group user/gitsandbbox
	label-Verified = -1..+1 group user/gitsandbbox
	rebase = group user/gitsandbbox
	removeReviewer = group user/gitsandbbox
	submit = group user/gitsandbbox
[access "refs/heads/*"]
	read = group user/gitsandbbox
	create = group user/gitsandbbox
	push = +force group user/gitsandbbox
	pushMerge = group user/gitsandbbox
[access "refs/tags/*"]
	push = +force group user/gitsandbbox
	pushTag = group user/gitsandbbox
	pushSignedTag = group user/gitsandbbox
